<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="~/CSS/Shared.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <a href="@Url.Action("Index", "Training")" class="@IsCurrentPage("Training", "Index")">
            <i class="fas fa-list-ul"></i>
            <p class="sidebar-text">Trainings</p>
        </a>
        <a href="@Url.Action("UserApplications", "TrainingApplication")" class="@IsCurrentPage("TrainingApplication", "UserApplications")">
            <i class="fas fa-file-alt"></i>
            <p class="sidebar-text">Applications</p>
        </a>
        <a href="@Url.Action("Index", "Logout")" class="@IsCurrentPage("Logout", "Index")">
            <i class="fas fa-sign-out-alt"></i>
            <p class="sidebar-text">Logout</p>
        </a>
    </div>

    <div id="main">
        @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @RenderBody()
    </div>

</body>
</html>

@functions {
    string IsCurrentPage(string controller, string action)
    {
        var currentController = Url.RequestContext.HttpContext.Request.RequestContext.RouteData.Values["controller"]?.ToString();
        var currentAction = Url.RequestContext.HttpContext.Request.RequestContext.RouteData.Values["action"]?.ToString();

        return currentController == controller && currentAction == action ? "bold-link" : "";
    }
}